body {
    background-image: url('Omnid.png');
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
 }

 .trigger {
    margin-top: 52.4vh;
    margin-left: 12vw;
    border: 0px;
    background-color: white;
    background-color: rgba(0, 0, 0, 1);
    width: 150px;
    height: 120px;
 }

 .triggerl {
    margin-top: 62.4vh;
    margin-left: 6.3vw;
    border: 0px;
    background-color: white;
    background-color: rgba(0, 0, 0, 1);
    width: 150px;
    height: 120px;
 }

 .trigger2 {
    padding-top: 1vh;
    margin-left: 18vw;
    border: 0px;
    background-color: rgba(0, 0, 0, 1);
    width: 150px;
    height: 120px;
    background-color: white;
 }

 .home {
   border: 0px;
   margin-left: 35vw;
   background-color: rgba(0, 0, 0, 0);
   width: 150px;
   height: 120px;
 }

 .freeze {
   margin-top: 46vh;
   border: 0px;
   margin-left: 35vw;
   background-color: rgba(0, 0, 0, 0);
   width: 150px;
   height: 120px;
 }
